<!DOCTYPE html>
<html>
    <head>
        <title>Regulation</title>
		<style>
			.projects {
				display: inline-block;
				width: 230px;
				margin-top: 5px;
				border: solid;
				border-color: black;
			}
			.title {
				text-align: center;
			}
			footer {
				margin-top: 20%;
			}
		</style>
    </head>
    <body>
		<header class="title">
			<h1>All acts</h1>
		</header>

        <div>
            {% for project in projects %}
                 {{ include('regulation/project_details.html.twig', { 'project': project }) }}
            {% endfor %}
        </div>
		<footer class="title">
			<hr>
			<p><a href="https://bitbucket.org/cakexboy/npa-regulation/">Follow us on BitBucket</a></p>
		</footer>
    </body>
</html>
